$text: #eceff4;
$background: #2e3440;
$red: #bf616a;
$blue: #5e81ac;
$green: #a3be8c;
$orange: #d08770;
$frost-green: #8fbcbb;
$yellow: #ebcb8b;
$highlightmodule: #4c566a;
$textcolor: #eceff4;

* {
  font-family: "Hack Nerd Font";
  font-size: 14px;
}

window#waybar.menubar {
  background-color: $background;
  color: $text;

  .modules-right {
    margin: 4px 4px;

    * {
      padding: 0 5px;
      margin-left: 5px;
    }
  }

  .modules-left {
    margin: 4px 9px;
  }

  #mode {
    margin-right: 5px;
    padding: 0 6px;
    background-color: $yellow;
    color: black;
  }

  #workspaces {
    margin-right: 10px;
    button {
      padding: 0 6px;
      color: $text;
    }

    button.focused {
      color: $blue;
    }
  }
}

#custom-powermenu {
  color: $red;
  font-size: 1.4rem;
}

#cpu {
  color: $yellow;
}

#memory {
  color: $orange;
}

#pulseaudio {
  color: $green;
}
