$text: #eceff4;
$background: #2e3440;
$red: #bf616a;
$blue: #5e81ac;
$green: #8fbcbb;
$yellow: #ebcb8b;
$highlightmodule: #4c566a;
$textcolor: #eceff4;

* {
  font-family: "Hack Nerd Font";
  font-size: 14px;
}

window#waybar.workspaces {
  background-color: transparent;

  .modules-center {
    background-color: $background;
    margin-left: 2px;
    border-radius: 20px;

    padding: 15px 0;
  }

  button.focused {
    color: $blue;
  }

  button {
    color: $text;
  }
}

window#waybar.menubar {
  background-color: $background;
  color: $text;

  .modules-right {
    margin: 4px 4px;

    * {
      padding: 0 5px;
      margin-left: 5px;
    }
  }

  .modules-left {
    margin: 4px 9px;
  }

  #mode {
    margin-right: 5px;
    padding: 0 6px;
    background-color: $yellow;
    color: black;
  }
}

#custom-powermenu {
  color: $red;
  font-size: 1.4rem;
}
